:root {
  --primary-color: #1c3f94;
  --black-color: #424242;
  --dark-grey-color: #757575;
  --grey-color: #bdbdbd;
  --light-grey-color: #e0e0e0;
  --lighter-grey-color: #eeeeee;
  --white-color: #ffffff;
  --blue-color: #4284f4;
  --light-blue-color: #2196f3;
  --theme-blue-color: #4bb7e7;
  --green-color: #009639;
  --red-color: #dc554e;
  --yellow-color: #ffc107;
}
