@import "./color.css";
@import "./media.css";
@import "./type.css";

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Muli';
  position: relative;
}
